cmake
dlib-bin==19.24.2
face-recognition
opencv-python
deepface
firebase-admin
python-telegram-bot
streamlit
matplotlib
numpy pandas
pyserial
ai-lock-8a369-firebase-adminsdk-fbsvc-9241edcc37.json
pillow
